$black: #000;
$primary: #030303;
$secondary: #606060;
$border-general: rgba($black, 0.1);
$border-dark: #d3d3d3;
$background-general: #f9f9f9;
$background-dark: #f8f8f8;
$white: #fff;

$blue: #065fd4;
$red: #cc0000;
$green: #107516;
